@{
    ViewData["Title"] = "Dashboard";
}
@*Sayfa Navigasyonu*@
@*<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">HRMPanel</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a>
                        <i class="fas fa-home"></i> AnaSayfa
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>*@
@*Sayfa Navigasyon Bitiş*@
<h1 class="ms-5">İnsan Kaynakları Yönetim Paneli Ana Sayfa</h1>